body{
    background-color: #f0f2f5;
    font-family: Verdana,Tahoma, sans-serif;
    font-size: large;
    color: black;
}
.header{text-align: center;
    padding: 0;
    color: #fff;
    background-color: rgb(76,175,80);
    margin: 0;
}
.header p{
    margin-top:-30px ;
}
.taches{
    display: flex;
    width: 1200px;
    height: 250px;
    background-color: #fff;
    border-radius: 2px;
    justify-content: space-around;
    flex-direction: column;
    padding-left:20px ;
    margin: 20px auto;
    box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.103);
}
.taches .manage_task{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction: row;
    margin-top: -10px;
    justify-content: space-between;
    margin-right: 400px;
    margin-bottom: 30px;
}
.taches .color{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction: row;
    margin-top: -60px;
    margin-bottom: -30px;
    justify-content: space-between;
    margin-right: 800px;
}
.p1{
    color: orangered;
}
.p2{
    color:  rgb(76,175,80);
}
.button1{
    border-radius: 4px;
    border: #fff 1px solid;
    color: #fff;
    background-color: rgb(76,175,80);
    padding: 8px;
    font-size: 15px;
    margin-bottom: 2px

}
.button2{
    border-radius: 4px;
    border: #fff 1px solid;
    color: #fff;
    background-color: orangered;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 2px

}
a{
    text-align: center;
    display: flex;
    justify-content: center;
}