body{
    background-color:#f0f2f5;
    font-family: Verdana,Tahoma, sans-serif;
    font-size: large;
    color: black;
}
.h21{
    margin-bottom: 0px;
}
form{
    background-color: #fff;
    height: 400px;
    min-height: 200px;
    padding: 10px 25px;
    width:300px;
    margin: 10% auto;
}
.entrer{
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: rgba(174, 174, 174, 0.338) 1px solid;
    color: black;
    padding: 10px 5px 10px 0;
    margin: 10px 0;
}
.label{text-align: left;
    padding: 0;}
    button{
        width: 50%;
        border-radius: 4px;
        border: #fff 1px solid;
        color: #fff;
        background-color: rgb(76,175,80);
        padding: 10px;
        margin-top: auto;
        font-size: 17px;
    }